$bg-color-ffffff: #ffffff;
$bg-color-fafbfc: #fafbfc;
$bg-color-8dd3bb: #8dd3bb;
$bg-color-cdeae1: #cdeae1;
$bg-color-ff8682: #ff8682;
$bg-color-000000: #000000;
$bg-color-d0d4d1: #d0d4d1;
$bg-color-112211: #112211;
$bg-color-f3f4f3: #f3f4f3;
$justify-center: center;
$justify-space-around: space-around;
$justify-space-between: space-between;
